/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .grid-page {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
}

html, body {
    background-color: red;
    margin: 10px;
    font-size: 1.75vw;
    box-sizing: border-box;
    height: 100%;
    padding: 2px;
    margin: 0px;
  }

  h2{
      color: red;
  }
  
p {
    color: red;
    text-align: center;
    font-family: "NIGHTMARE PILLS";
  }
  h4 {
    color: cyan;
    text-align: center;
    font-size: 1vw;
  }

.header {
    grid-column: 1 / -1;
    display: flex;
    background-color: black;
    align-items: center;
}

.home {
    margin-left: start;
    padding: 0px 10px;
}

.edit {
    margin-left: left;
    padding: 0px 10px;
}

.logout {
    margin-left: auto;
    padding: 0px 10px;
}

.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column: 1 / -1;
    background-color: black;
}

.title{
    grid-column: 1 / -1;
    grid-row: 1;
    margin: auto;
    font-family: "NIGHTMARE PILLS";
}

.story-image{
    grid-column: 1 / -1;
    grid-row: 2 / 6;
    margin: auto;
}

.story{
    grid-column: 1 / -1;
    grid-row: 6 / 8;
    margin: auto;
}

.options{
    grid-column: 1 / -1;
    grid-row: 8 / -1;
    margin: auto;
}

.footer {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.about {
    margin: auto;
}

.how-to-play{
    margin: auto;
}

.form{
    color: red;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    margin: auto;
    font-family: "NIGHTMARE PILLS";
    font-size: 2vw;
    padding: 0px 50px;
}

.create-user{
    margin: auto;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    font-family: "NIGHTMARE PILLS";
    font-size: 3vw;
    color: red;
}

.button {
    background-color: black;
    border-style: solid;
    border-color: red;
    border-width: medium;
    color: red;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.75vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "NIGHTMARE PILLS";
    }

.nav-button{
    background-color: black;
    color: red;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 1.75vw;
    padding: 0px 20px;
    cursor: pointer;
    font-family: "NIGHTMARE PILLS";
}

.image{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: space-around;
    /* padding: 0px 50px; */
}
img{
    width: 100%;
    height: auto;
    max-width: 30vw;
    margin: auto;
}

