// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-page {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 40px;
}

html, body {
    background-color: red;
    margin: 10px;
    font-size: 1.75vw;
    box-sizing: border-box;
    height: 100%;
    padding: 2px;
    margin: 0px;
  }
  
p {
    color: red;
    text-align: center;
    font-family: "Times New Roman";
  }
  h4 {
    color: cyan;
    text-align: center;
    font-size: 1vw;
  }

.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column: 1 / -1;
    background-color: black;
}

.image{
    grid-column: 1 / -1;
    grid-row: 1 / 9;
    margin: auto;
}

img{
    width: 100%;
    height: auto;
    max-width: 100vw;
}

.home-buttons{
    display: flex;
    grid-column: 1 / -1;
    grid-row: 9 / -1;
    // justify-content: flex-end;
}
.create-user{
    margin: auto;
}
.login{
    margin: auto;
}

.login-guest{
    margin: auto;
}
.home {
    margin-left: start;
    padding: 0px 10px;
}

.edit {
    margin-left: left;
    padding: 0px 10px;
}

.logout {
    margin-left: auto;
    padding: 0px 10px;
}

.footer {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.about {
    margin: auto;
}

.how-to-play{
    margin: auto;
}

.about-page-header{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    font-family: "NIGHTMARE PILLS";
}

.about-page-body{
    grid-column: 2 / 10;
    grid-row: 1 / 8;
    margin: auto;
}

.how-page-header{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    font-family: "NIGHTMARE PILLS";
}

.how-page-body{
    grid-column: 2 / 10;
    grid-row: 1 / -1;
    margin: auto;
}

.button {
    background-color: black;
    border-style: solid;
    border-color: red;
    color: red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    cursor: pointer;
    font-family: "NIGHTMARE PILLS";
    }

.nav-button{
    background-color: black;
    color: red;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 1.75vw;
    cursor: pointer;
    font-family: "NIGHTMARE PILLS";
}